<?xml version='1.0'?>

<launch>
    <!-- Gazbeo Input Arguments -->
    <arg name="world_name" default="worlds/iris_arducopter_runway.world" />
    <arg name="gui" default="true" />

    <!-- Mavros Input Arguments -->
    <arg name="fcu_url" default="udp://127.0.0.1:14551@" />
	<arg name="gcs_url" default="" />
    <arg name="log_output" default="screen" />
    <arg name="respawn_mavros" default="true" />
    <arg name="publish_rate_all" default="1" />
	<arg name="publish_rate_imu" default="50" />

    <!-- Trajectory Generator Input Arguments -->
    <arg name="pose_topic_name" default="/iris_demo/pose" />
    <arg name="arming_srv_name" default="/mavros/cmd/arming" />
    <arg name="set_flight_mode_srv_name" default="/mavros/set_mode" />
    <arg name="trajectory_publish_rate" default="50.0" />
    <arg name="yaw_tracking_enable" default="false" />

    <!-- Add Controller Input Arguments here-->


    <!-- Launch Gazebo and the SITL Simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- Launch Mavros -->
    <include file="$(find mavros)/launch/apm_custom.launch" >
        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
        <arg name="respawn_mavros" value="$(arg respawn_mavros)" />
        <arg name="publish_rate_all" value="$(arg publish_rate_all)" />
        <arg name="publish_rate_imu" value="$(arg publish_rate_imu)" />
    </include>

    <!-- Launch Controller here -->

    <!-- Launch Trajectory Generator -->
    <include file="$(find traj_gen)/launch/trajectory_generator.launch" >
        <arg name="pose_topic_name" value="$(arg pose_topic_name)" />
        <arg name="arming_srv_name" value="$(arg arming_srv_name)" />
        <arg name="set_flight_mode_srv_name" value="$(arg set_flight_mode_srv_name)" />
        <arg name="trajectory_publish_rate" value="$(arg trajectory_publish_rate)" />
        <arg name="yaw_tracking_enable" value="$(arg yaw_tracking_enable)" />
    </include>

</launch>